.hide-logout{
  display: none;
}
.show-logout{
  display: inline;
}
.hide-login{
  display: none;
}
.show-login{
  display: inline;
}


.toolbar-container{
  display: flex;
}

.user-button-container{
  margin-left: auto;
}
