@import "../../../theming/theming";

.container{
  padding-top: 5%;
  max-width: $displayUnitLarge*8.5;
}

.hr-line{
  border-top: 1px solid var(--color-primary);
}

.user-settings-card{
  background-color: var(--color-gray);
  display: grid;
  color: var(--color-white);
  border-radius: $displayUnitMedium;
}

.sidepanel{
  margin-top: $displayUnitSmall;
  grid-column-start: 2;
  grid-column-end: 7;
  height: $displayUnitLarge*7;
}

.sidepanel-top{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 30%;
}
.sidepanel-title{
  padding-top: 80%;
}
.mat-icon {
  vertical-align: middle;
}

.sidepanel-bot{
  padding-top: 15%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 7;
  height: 60%;
}
.sidepanel-buttons{
  width: 100%;
  text-align: left;
}

.mainDiv{
  padding-top: 5%;
  background-color: var(--color-gray_dark_1);
  grid-column-start: 7;
  grid-column-end: 25;
  grid-row-start: 1;
  grid-row-end: 4;
  border-left: 1px solid var(--color-primary);
}
.main-title{
  padding-left: 5%;
  width: 100%;
}

.main-form{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15%;
}

.hide-infoForm{
  display: none;
}
.show-infoForm{
  display: visible;
}
.hide-passwordForm{
  display: none;
}
.show-passwordForm{
  display: visible;
}

.required{
  color: var(--color-red);
}
