@import "../../../theming/theming";

.container{
  padding-top: $displayUnitSmall;
}

h3 {
  margin: 0 0 $displayUnitSmall * 2;
}

.calendar {
  color: var(--color-primary);
}

.title {
  text-align: center;
}


.calendar-title {
  width: 100%;
  display: inline-grid;
}

.calendar-title-today {
  grid-column-start: 1;
  grid-column-end: 2;
}

.today-button {
  transform: rotate(-15deg);
}

.calendar-title-left-arrow {
 grid-column-start: 2;
 grid-column-end: 3;
}

.calendar-title-text {
  width: $displayUnitLarge * 2;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
}

.calendar-title-right-arrow {
  grid-column-start: 4;
  grid-column-end: 15;
}

