@import "../../../theming/theming";

.container{
  padding-top: 5%;
  max-width: $displayUnitLarge*4;
}

.input-field{
  width: 100%;
}

.buttons{
  padding-right: 3%;
}

.remember-me {
  margin: $displayUnitMedium 0;
}

