<div class="main-container">
  <button mat-button color="primary" class="get-fee-button" (click)="getFee()">
    Get monthly fee
  </button>
  <div class="fees-container" id="feesContent" #feesContent>
    <div class="fees" *ngFor="let financeDTO of financeDTOs">
      <app-fee-template [financeDTO]="financeDTO"></app-fee-template>
    </div>
    <div *ngIf="financeDTOs.length !== 0" class="fees-footer">
      <div class="overall-sum">
        <p>Overall sum {{ overallSum }}RON</p>
      </div>
    </div>
  </div>
  <button *ngIf="financeDTOs.length !== 0" mat-raised-button color="accent" class="export-pdf-button" (click)="exportPdf()">Export to PDF!</button>
</div>
