@import "../../../../theming/theming";

.main-input{
  width: 100%;
  background-color: var(--color-gray);
  color: var(--color-white);
}

.main-form-button{
  padding-top: 5%;
}

.error-message-container{
  width: $displayUnitLarge*2.5;
}
