<form [formGroup]="passwordForm" (ngSubmit)="submitChangedPassword()">
  <label>Old Password</label> <label class="required">*</label><label>:</label
  ><br />
  <input
    matInput
    formControlName="oldPassword"
    class="main-input"
    type="password"
  /><br /><br /><br />
  <label>New Password</label> <label class="required">*</label><label>:</label
  ><br />
  <input
    matInput
    formControlName="newPassword"
    class="main-input"
    type="password"
  /><mat-error *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">
    <p class="error-message-container">Password needs to be at least 8 character long.</p>
  </mat-error>
  <mat-error
    *ngIf="passwordForm.get('newPassword')?.invalid &&
    (passwordForm.get('newPassword')?.dirty ||
      passwordForm.get('newPassword')?.touched) &&
    passwordForm.get('newPassword')?.errors?.['containsCharacters']
  "
  >
    <p class="error-message-container">
      Password must contain at least one of each of the following:
      <strong>lowercase and uppercase letter, number, special character</strong
      >!
    </p>
  </mat-error>
  <div *ngIf="!passwordForm.get('newPassword')?.errors?.['minlength']">
    <br />
  </div>
  <label>Repeat new Password</label> <label class="required">*</label
  ><label>:</label><br />
  <input
    matInput
    formControlName="newPasswordCheck"
    class="main-input"
    type="password"
  /><br />
  <mat-error *ngIf="passwordForm.get('newPasswordCheck')?.errors?.['notEqual']">
    Missmatched passwords
  </mat-error>
  <div class="main-form-button">
    <button mat-button type="submit">Change Password</button>
  </div>
  <mat-error
    *ngIf="(passwordForm.get('oldPassword')?.errors?.['required'] ||
    passwordForm.get('newPassword')?.errors?.['required'] ||
    passwordForm.get('newPasswordCheck')?.errors?.['required']) && buttonClicked"
  >
    Bro. <br />
    Fill out the required(<label class="required">*</label>) fields ;)
  </mat-error>
</form>
