.container {
  display: grid;
  padding-top: 4%;
}

.calendar {
  grid-column-start: 2;
  grid-column-end: 19;
  grid-row-start: 2;
  grid-row-end: 3;
}

.side-panel {
  grid-column-start: 20;
  grid-column-end: 25;
  grid-row-start: 2;
  grid-row-end: 3;
}
